In [187]:
# importing requests and pandas
import requests
import pandas as pd

In [188]:
# reading the csv file
df = pd.read_csv("uber.csv")
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [189]:
# checking how many nulls are there
df.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [190]:
# Finding all the columns with numeric data types(int, float)
numeric_columns = df.select_dtypes(include = ['number']).columns
numeric_columns

Index(['Avg VTAT', 'Avg CTAT', 'Cancelled Rides by Customer',
       'Cancelled Rides by Driver', 'Incomplete Rides', 'Booking Value',
       'Ride Distance', 'Driver Ratings', 'Customer Rating'],
      dtype='object')

In [191]:
# Replacing nulls in numeric_columns with 0
df[numeric_columns] = df[numeric_columns].fillna(0)

In [192]:
# Checking all the numeric_columns
df[numeric_columns]

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,4.9,14.0,0.0,0.0,1.0,237.0,5.73,0.0,0.0
2,13.4,25.8,0.0,0.0,0.0,627.0,13.58,4.9,4.9
3,13.1,28.5,0.0,0.0,0.0,416.0,34.02,4.6,5.0
4,5.3,19.6,0.0,0.0,0.0,737.0,48.21,4.1,4.3
...,...,...,...,...,...,...,...,...,...
149995,10.2,44.4,0.0,0.0,0.0,475.0,40.08,3.7,4.1
149996,5.1,30.8,0.0,0.0,0.0,1093.0,21.31,4.8,5.0
149997,2.7,23.4,0.0,0.0,0.0,852.0,15.93,3.9,4.4
149998,6.9,39.6,0.0,0.0,0.0,333.0,45.54,4.1,3.7
149999,3.5,33.7,0.0,0.0,0.0,806.0,21.19,4.6,4.9

In [193]:
# Finding all the columns with object data types
char_columns = df.select_dtypes(include = ['object']).columns
char_columns

Index(['Date', 'Time', 'Booking ID', 'Booking Status', 'Customer ID',
       'Vehicle Type', 'Pickup Location', 'Drop Location',
       'Reason for cancelling by Customer', 'Driver Cancellation Reason',
       'Incomplete Rides Reason', 'Payment Method'],
      dtype='object')

In [194]:
# Checking all the char_columns
df[char_columns]

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Reason for cancelling by Customer,Driver Cancellation Reason,Incomplete Rides Reason,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,NaN,NaN,Vehicle Breakdown,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,NaN,NaN,NaN,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,NaN,NaN,NaN,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,NaN,NaN,NaN,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,NaN,NaN,NaN,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,NaN,NaN,NaN,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,NaN,NaN,NaN,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,NaN,NaN,NaN,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,NaN,NaN,NaN,Credit Card

In [195]:
# Replacing all the zero in char_columns with 'unknown'
df[char_columns] = df[char_columns].fillna('unknown')
df[char_columns]

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Reason for cancelling by Customer,Driver Cancellation Reason,Incomplete Rides Reason,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,unknown,unknown,unknown,unknown
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,unknown,unknown,Vehicle Breakdown,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,unknown,unknown,unknown,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,unknown,unknown,unknown,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,unknown,unknown,unknown,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,unknown,unknown,unknown,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,unknown,unknown,unknown,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,unknown,unknown,unknown,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,unknown,unknown,unknown,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,unknown,unknown,unknown,Credit Card

In [196]:
# Choosing the columns you want from all this data
wanted_columns = ['Date', 'Booking ID', 'Customer ID', 'Pickup Location', 'Drop Location', 'Ride Distance', 'Ride_Category']

In [197]:
ride_col = df['Ride Distance']
ride_col

0          0.00
1          5.73
2         13.58
3         34.02
4         48.21
          ...
149995    40.08
149996    21.31
149997    15.93
149998    45.54
149999    21.19
Name: Ride Distance, Length: 150000, dtype: float64

In [198]:
#Adding a new column "Ride_Category" which classifies the ride as long, medium or short
def Ride_Category(ride_col):
    if 1 < ride_col < 5:
        return 'low'
    elif 6 < ride_col < 20:
        return 'medium'
    elif 21 < ride_col < 50:
        return 'high'
    else:
        return 'No distance'

In [199]:
df['Ride_Category'] = df['Ride Distance'].apply(Ride_Category)

In [200]:
# Creating a new dataframe 'WantedCols'
WantedCols = df[wanted_columns]
WantedCols.head()

,Date,Booking ID,Customer ID,Pickup Location,Drop Location,Ride Distance,Ride_Category
0,2024-03-23,"""CNR5884300""","""CID1982111""",Palam Vihar,Jhilmil,0.00,No distance
1,2024-11-29,"""CNR1326809""","""CID4604802""",Shastri Nagar,Gurgaon Sector 56,5.73,No distance
2,2024-08-23,"""CNR8494506""","""CID9202816""",Khandsa,Malviya Nagar,13.58,medium
3,2024-10-21,"""CNR8906825""","""CID2610914""",Central Secretariat,Inderlok,34.02,high
4,2024-09-16,"""CNR1950162""","""CID9933542""",Ghitorni Village,Khan Market,48.21,high

In [201]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method,Ride_Category
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,0.0,0.0,...,0.0,unknown,0.0,unknown,0.0,0.00,0.0,0.0,unknown,No distance
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,0.0,unknown,1.0,Vehicle Breakdown,237.0,5.73,0.0,0.0,UPI,No distance
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,0.0,unknown,0.0,unknown,627.0,13.58,4.9,4.9,Debit Card,medium
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,0.0,unknown,0.0,unknown,416.0,34.02,4.6,5.0,UPI,high
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,0.0,unknown,0.0,unknown,737.0,48.21,4.1,4.3,UPI,high

In [202]:
df['Ride_Category']

0         No distance
1         No distance
2              medium
3                high
4                high
             ...
149995           high
149996           high
149997         medium
149998           high
149999           high
Name: Ride_Category, Length: 150000, dtype: object

In [203]:
from sqlalchemy import create_engine

In [ ]:
# creating a connection engine to postgresql db hosted on aiven
cleaned_data = create_engine ('')

In [205]:
#Pushing the cleaned data to postgresql. Pushes it as a table named CleanedUberData, to a schema named public
WantedCols.to_sql("CleanedUberData", cleaned_data, index= False, if_exists='replace', schema = 'public')

1000

In [206]:


# read back from PostgreSQL to confirm if 'CleanedUberData' has been pushed there
check = pd.read_sql("SELECT * FROM public.\"CleanedUberData\" LIMIT 5;", cleaned_data)
print(check)

         Date    Booking ID   Customer ID      Pickup Location  \
0  2024-03-23  "CNR5884300"  "CID1982111"          Palam Vihar
1  2024-11-29  "CNR1326809"  "CID4604802"        Shastri Nagar
2  2024-08-23  "CNR8494506"  "CID9202816"              Khandsa
3  2024-10-21  "CNR8906825"  "CID2610914"  Central Secretariat
4  2024-09-16  "CNR1950162"  "CID9933542"     Ghitorni Village

       Drop Location  Ride Distance Ride_Category
0            Jhilmil           0.00   No distance
1  Gurgaon Sector 56           5.73   No distance
2      Malviya Nagar          13.58        medium
3           Inderlok          34.02          high
4        Khan Market          48.21          high